<html>
    <head>
        <style>

        </style>
    </head>
    <body>
        <p>Hello {{name}},</p>
        <p>Thank you for using Meal App to book your meal.</p>
        <P> Here is your booking details...</P>
        <div style="border: dashed 1px grey;">
        {{bookingType}}: {{startDate}} to {{endDate}}
    </div>        
    </body>
</html>