<html>
  <head>
    <style>

    </style>
  </head>
  <body>
    <p>Hello {{name}},</p>
    <p>Thank you for using Meal App to book your meal.</p>
    <p>Unfortunately, your booking on the given dates has been cancelled. If you
      wish to book a meal on another date, please visit our website and make a
      new booking.</p>
    <div style="border: dashed 1px grey; padding: 10px; margin-top: 20px;">
      <p><strong>{{bookingType}}:</strong> {{startDate}} to {{endDate}}</p>
    </div>
  </body>
</html>