<html>
    <head>
        <style>

        </style>
    </head>
    <body>
        <p>Hi {{name}},</p>
        <p>Your password has been changed successfully</p>
         <div style="border: dashed 1px grey;">
            New password: {{changedPassword}}<br>
    </body>
</html>